# Ignore node_modules
node_modules/


# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage
=======
# Other common ignores
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignore env
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build directories
dist/
build/
